
<div class="jumbotron">
  <div class="container">
    <h1>gCamp</h1>
    <p>Your life, organized.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("one.jpg", height: "200", width: "360") %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= link_to "Tasks", new_task_path %>
          </div>
        <div class="panel-body home-panel">
          <p>Grouped by projects and lists, just the way you like'em</p>
        </div>


    </div>

    </div>
    <div class="col-md-4">
      <%= image_tag("2.jpg", height: "200", width: "360") %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= link_to "Documents", root_path %>
          </div>
        <div class="panel-body home-panel">
          <p>
            <li>Upload.</li>
            <li>Comment.</li>
            <li> Revise.</li>
          </p>
        </div>


      </div>

   </div>
    <div class="col-md-4">
      <%= image_tag("3.jpg", height: "200", width: "360") %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= link_to "Comments", root_path %>
          </div>
        <div class="panel-body home-panel">
          <p>Comment on tasks and documents.  Get email notifications.</p>
        </div>
      </div>

      </div>


    </div>
  </div>

  <div class="quotes">
    <% @quotes.each do |i| %>
      <ul>
        <%= i.text %>
        <%= i.person %>
      </ul>
    <% end %>
  </div>

  <hr>

  <footer>
        <%= link_to "About", about_path %> | <%= link_to "Terms", terms_path %> | <%= link_to "FAQ", faq_path %>
    <p>&copy; Company 2014</p>
  </footer>
</div> <!-- /container -->
