<div class="page-header">Frequently Asked Questions</div>

<li><%= link_to "What is gCamp?" %></li>
<li><%= link_to "How do I join gCamp?" %></li>
<li><%= link_to "When will gCamp be finished?" %></li>

<h3><%= @question[0] %></h3>

<p><%= @answer[0] %></p>

<h3><%= @question[1] %></h3>

<p><%= @answer[1] %></p>

<h3><%= @question[2] %></h3>

<p><%= @answer[2] %></p>
