<h1>Frequently Asked Questions</h1>

<h3><%= @question[0] %></h3>

<p><%= @answer[0] %></p>

<h3><%= @question[1] %></h3>

<p><%= @answer[1] %></p>

<h3><%= @question[2] %></h3>

<p><%= @answer[2] %></p>

<footer>
  <div><%= link_to "About", about_path %> | <%= link_to "Terms", terms_path %> | <%= link_to "FAQ", faq_path %></div>
</footer>
